<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Pagina principal - Usuario</title>
</h:head>
<body style="background-color: #C0C0C0;">
	<p:growl>
		<p:autoUpdate></p:autoUpdate>
	</p:growl>
	<!-- Sección -->
	<div align="center" class="ui-g">

		<!-- Sección superior de menús y titulos -->
		<div class="ui-g-12" align="right" style="background-color: #696969;">
			<!-- Sección de titulos y logo -->
			<div class="ui-g-2" align="left">
				<h:outputText value="Usuario - Foodstar" />
			</div>

			<!-- Sección superior de menús de interactividad -->
			<div class="ui-g-7" align="left">
				<h:form>
					<p:commandButton value="Registrar restaurantes"
						icon="fa fa-sign-in"
						action="#{beanIndexUsuario.actionRegistrarRestaurantes()}"></p:commandButton>
					<p:commandButton value="Revisar mis restaurantes" icon="fa fa-user-plus"></p:commandButton>
				</h:form>
			</div>

			<!-- Sección superior de menús de cerrado de sesión y otros -->
			<div class="ui-g-3" align="right">
				<h:form>
					<p:menuButton value="Opciones de cuenta">
						<p:menuitem value="Cambiar contraseña" icon="pi pi-save" />
						<p:menuitem value="Modificar mi información personal"
							icon="pi pi-save" />
					</p:menuButton>
					<p:commandButton action="#{beanIndexUsuario.actionCerrarSesion()}"
						value="Cerrar sesión" icon="fa fa-sign-out"></p:commandButton>
				</h:form>
			</div>
		</div>

		<!-- Sección central -->
		<div class="ui-g-12">
			<p:panel header="Restaurantes registrados">
				<h:form>
					<p:dataTable>
						
					</p:dataTable>
				</h:form>
			</p:panel>
		</div>

		<!-- Sección Inferior -->
		<div class="ui-g-12" align="center">
			<h1>Pie de página</h1>
		</div>
	</div>
</body>
</html>
