<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Foodstar</title>
</h:head>
<body style="background-color: #C0C0C0;">
	<p:growl>
		<p:autoUpdate></p:autoUpdate>
	</p:growl>
	<!-- Sección -->
	<div align="center" class="ui-g">

		<!-- Sección superior de menús y titulos -->
		<div class="ui-g-12" align="right" style="background-color: #696969;">
			<!-- Sección de titulos y logo -->
			<div class="ui-g-2" align="left">
				<h:outputText value="Foodstar - index" />
			</div>

			<!-- Sección superior de menús de interactividad -->
			<div class="ui-g-7" align="left">
				<h:form>

				</h:form>
			</div>

			<!-- Sección superior de menús de cerrado de sesión y otros -->
			<div class="ui-g-3" align="right">
				<h:form>
					<p:commandButton action="#{beanIndex.actionRegistro()}"
						value="Registro" icon="fa fa-user-plus"></p:commandButton>
					<p:commandButton action="#{beanIndex.actionIniciarSesion()}"
						value="Iniciar sesión" icon="fa fa-sign-in"></p:commandButton>
				</h:form>
			</div>
		</div>

		<!-- Sección central -->
		<div class="ui-g-12">
			<h1>Sección central</h1>
		</div>

		<!-- Sección Inferior -->
		<div class="ui-g-12" align="center">
			<h1>Pie de página</h1>
		</div>
	</div>
</body>
</html>
