<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Administracion de restaurantes</title>
</h:head>
<body style="background-color: #C0C0C0;">
	<p:growl>
		<p:autoUpdate></p:autoUpdate>
	</p:growl>
	<!-- Sección -->
	<div align="center" class="ui-g">

		<!-- Sección superior de menús y titulos -->
		<div class="ui-g-12" align="right" style="background-color: #696969;">
			<!-- Sección de titulos y logo -->
			<div class="ui-g-2" align="left">
				<h:outputText value="Administracion Restaurantes" />
			</div>

			<!-- Sección superior de menús de interactividad -->
			<div class="ui-g-7" align="left">
				<h:form>
					<p:commandButton value="Actualizar" icon="fa fa-refresh"
						actionListener="#{beanAdministrarRestaurantes.actionListenerRefrescar()}"
						update="@form"></p:commandButton>
					<p:commandButton value="Imprimir reporte" icon="fa fa-print" ajax="false"
						actionListener="#{beanAdministrarRestaurantes.actionListenerImprimirReporte()}"></p:commandButton>
				</h:form>
			</div>

			<!-- Sección superior de menús de cerrado de sesión y otros -->
			<div class="ui-g-3" align="right">
				<h:form>
					<p:commandButton
						action="#{beanAdministrarRestaurantes.actionRegresar()}"
						value="Regresar" icon="fa fa-sign-in"></p:commandButton>
					<p:commandButton action="#{beanIndex.actionIniciarSesion()}"
						value="Cerrar Sesion" icon="fa fa-user-plus"></p:commandButton>
				</h:form>
			</div>
		</div>

		<!-- Sección central -->
		<div class="ui-g-12">
			<h:form>
				<p:dataTable value="#{beanAdministrarRestaurantes.restaurantes}"
					var="r">
					<p:column headerText="Nombre">
						<h:outputText value="#{r.nombre}" />
					</p:column>
					<p:column headerText="Descripción:">
						<h:outputText value="#{r.descripcion}"></h:outputText>
					</p:column>
					<p:column headerText="Dueño">
						<h:outputText value="#{r.persona.nombre} #{r.persona.apellido}" />
					</p:column>
					<p:column headerText="Estado">
						<h:outputText value="#{r.estado.descripcionEst}" />
					</p:column>
					<p:column headerText="Dirección">
						<h:outputText
							value="#{r.direccion.callePrincipal} y #{r.direccion.calleSecundaria}" />
					</p:column>
					<p:column headerText="Calificación promedio">
						<h:outputText value="#{r.calificacion}" />
					</p:column>
					<p:column headerText="Reportes">
						<h:outputText value="#{r.reportes}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</div>

		<!-- Sección Inferior -->
		<div class="ui-g-12" align="center">
			<h1>Pie de página</h1>
		</div>
	</div>
</body>
</html>
