<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Administración de usuarios</title>
</h:head>
<body style="background-color: #C0C0C0;">
	<p:growl>
		<p:autoUpdate></p:autoUpdate>
	</p:growl>
	<!-- Sección -->
	<div align="center" class="ui-g">

		<!-- Sección superior de menús y titulos -->
		<div class="ui-g-12" align="right" style="background-color: #696969;">
			<!-- Sección de titulos y logo -->
			<div class="ui-g-2" align="left">
				<h:outputText value="Administracion de Usuarios - FoodStar" />
			</div>

			<!-- Sección superior de menús de interactividad -->
			<div class="ui-g-7" align="left">
				<h:form>
					<p:commandButton value="Actualizar" icon="fa fa-refresh"
						actionListener="#{beanAdministrarUsuarios.actionListenerRefrescar()}"
						update="@form"></p:commandButton>
					<p:menuButton value="Imprimir reportes">
						<p:menuitem
							value="Imprimir reporte de usuarios que tengan restaurantes"
							actionListener="#{beanAdministrarUsuarios.actionListenerImprimirReporteDeUsuariosConRestaurantes()}"
							ajax="false" icon="fa fa-print" />
						<p:menuitem
							value="Imprimir reporte de usuarios que no tengan restaurantes"
							ajax="false" icon="fa fa-print"
							actionListener="#{beanAdministrarUsuarios.actionListenerImprimirReporteDeUsuariosSinRestaurantes()}"></p:menuitem>
						<p:menuitem value="Imprimir reporte de todos los usuarios"
							ajax="false" icon="fa fa-print"
							actionListener="#{beanAdministrarUsuarios.actionListenerImprimirReporteDeTodosLosUsuarios()}"></p:menuitem>
					</p:menuButton>
				</h:form>
			</div>

			<!-- Sección superior de menús de cerrado de sesión y otros -->
			<div class="ui-g-3" align="right">
				<h:form>
					<p:commandButton
						action="#{beanAdministrarUsuarios.actionRegresar()}"
						value="Regresar" icon="fa fa-arrow-circle-left"></p:commandButton>
					<p:commandButton
						action="#{beanAdministrarUsuarios.actionCerrarSesion()}"
						value="Cerrar sesion" icon="fa fa-sign-out"></p:commandButton>
				</h:form>
			</div>
		</div>

		<!-- Sección central -->
		<div class="ui-g-12">
			<h:form id="formDatos">
				<p:dataTable value="#{beanAdministrarUsuarios.listapersona}" var="e">
					<p:column headerText="USERNAME">
						<h:outputText value="#{e.username}" />
					</p:column>
					<p:column headerText="TIPO-PERSONA">
						<h:outputText value="#{e.tipoDePersona.descripcionTDP}" />
					</p:column>
					<p:column headerText="ESTADO">
						<h:outputText value="#{e.estado.descripcionEst}" />
					</p:column>
					<p:column headerText="NOMBRE">
						<h:outputText value="#{e.nombre}" />
					</p:column>
					<p:column headerText="APELLIDO">
						<h:outputText value="#{e.apellido}" />
					</p:column>
					<p:column headerText="CORREO">
						<h:outputText value="#{e.correoElectronico}" />
					</p:column>
					<p:column headerText="OPCIONES">
						<p:commandButton title="Banear" icon="fa fa-ban"
							actionListener="#{beanAdministrarUsuarios.actionListenerBanearUsuario(e.username)}"
							update="@form">
							<p:confirm header="Confirmación"
								message="¿Está seguro de banear a #{e.username}?"
								icon="fa fa-exclamation-triangle"></p:confirm>
						</p:commandButton>
						<p:commandButton title="Desbanear" icon="fa fa-check"
							actionListener="#{beanAdministrarUsuarios.actionListenerDesbanearUsuario(e.username)}"
							update="@form">
						</p:commandButton>
						<p:commandButton title="Eliminar" icon="fa fa-remove"
							actionListener="#{beanAdministrarUsuarios.actionListenerEliminarUsuario(e.username)}"
							update="@form">
							<p:confirm header="Confirmación"
								message="¿Está seguro de eliminar a #{e.username}?"
								icon="fa fa-exclamation-triangle"></p:confirm>
						</p:commandButton>
						<p:commandButton title="Modifcar información personal"
							icon="fa fa-pencil"
							actionListener="#{beanAdministrarUsuarios.setPersonaModificada(e)}"
							oncomplete="PF('dlgEdicion').show();" update=":formEdicion"></p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>
		</div>
		<!-- Sección Inferior -->
		<div class="ui-g-12" align="center">
			<h1>Pie de página</h1>
		</div>
	</div>

	<!-- Sección de dialogos y mensajes de confirmacion -->
	<p:dialog header="Editar usuario" widgetVar="dlgEdicion" modal="true">
		<h:form id="formEdicion">
			<p:panelGrid columns="2">
				<h:outputText value="Nombre de usuario:" />
				<h:outputText
					value="#{beanAdministrarUsuarios.personaModificada.username}"></h:outputText>

				<h:outputText value="Correo electrónico:" />
				<p:inputText
					value="#{beanAdministrarUsuarios.personaModificada.correoElectronico}"></p:inputText>

				<h:outputText value="Nombre"></h:outputText>
				<p:inputText
					value="#{beanAdministrarUsuarios.personaModificada.nombre}"></p:inputText>

				<h:outputText value="Apellido"></h:outputText>
				<p:inputText
					value="#{beanAdministrarUsuarios.personaModificada.apellido}"></p:inputText>
			</p:panelGrid>
			<br />
			<p:commandButton value="Modificar" icon="fa fa-save"
				actionListener="#{beanAdministrarUsuarios.modificarUsuario()}"
				update=":formDatos"></p:commandButton>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="SI" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check"></p:commandButton>
		<p:commandButton value="NO" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times"></p:commandButton>
	</p:confirmDialog>
</body>
</html>
